<?php
	if(isset($_GET["err"])){
		$errors = explode("|",$_GET["err"]);
		foreach ($errors as $err) {
			echo "<font color='red'>".htmlspecialchars($err)."</font><br>";
		}
	}
?>
<br>
<form class="form" action="/survey/index/post" method="post">
    Name:<br>
    <input type="text" name="sender" size="32" style="width: 250px">
    <br>
    Email:<br>
    <input type="text" name="email" size="32" style="width: 250px" data-mage-init='{ "survey_result": {message: "Moikkelis"} }'>
    <br>
    Rating our webpage(1-5):<br>
    <input type="range" name="rating" min=0 max=5><br>
    What is our best product?<br>

    <br>
    <?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    /** @var \Magento\Catalog\Model\ResourceModel\Product\Collection $productCollection */
    $productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
    /** Apply filters here */
    $collection = $productCollection->addAttributeToSelect('*')
        ->load();

    foreach ($collection as $product){
        echo '<input type="radio" name="answer" value="'.$product->getName().'">'.$product->getName().'<br>';
    }
    ?>
    <br>
    <input type="submit" name="submit" value="Submit">
</form>